<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Application_System.Properties.Settings.Student_Management_Studio_dbConnectionString"
            connectionString="Data Source=.;Initial Catalog=Student_Management_Studio.db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>